img {
  pointer-events: none;
  user-select: none;
}

body,
html {
  overflow: hidden;
}
.noscript {
  background: #2599cf;
  color: #fff;
  padding: 8% 0 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  height: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
}
.noscript p {
  margin: 0;
  text-align: center;
  padding: 0 20px 10px 20px;
  margin: auto;
  font-size: 3rem;
  line-height: 1.5;
  font-family: monospace;
  max-width: 1010px;
  font-weight: 500;
}
.noscript p span {
  color: #ffe88b;
  font-size: 10rem;
  line-height: normal;
  font-weight: normal;
}
